
.icon-up-open:before { content: '\e849'; } /* '' */
.icon-vector-2:before { content: '\e84a'; } /* '' */
.icon-vector-1:before { content: '\e856'; } /* '' */
.icon-down-open:before { content: '\e86a'; } /* '' */
.icon-vector:before { content: '\e874'; } /* '' */
.icon-basket:before { content: '\e878'; } /* '' */
.icon-basket-1:before { content: '\e891'; } /* '' */
.icon-currency:before { content: '\e892'; } /* '' */
.icon-lang:before { content: '\e893'; } /* '' */
.icon-account:before { content: '\e894'; } /* '' */
.icon-help:before { content: '\e895'; } /* '' */
.icon-right-open:before { content: '\e896'; } /* '' */
.icon-left-open:before { content: '\e897'; } /* '' */
.icon-cancel:before { content: '\e899'; } /* '' */
.icon-angle-right:before { content: '\f132'; } /* '' */
.icon-ellipsis:before { content: '\f144'; } /* '' */
.icon-angle-up:before { content: '\f147'; } /* '' */
.icon-angle-down:before { content: '\f148'; } /* '' */
.icon-angle-left:before { content: '\f323'; } /* '' */
